{{!< default}}

<section class="lg:bg-no-repeat lg:bg-contain mx-auto lg:h-screen flex justify-center bg-gray-100 pt-20">
	<div class="container m-auto p-6 lg:p-0">
        <span>404</span>
        <p>Page non trouvé, <a href="/">cliquez-ici pour retourner à l&apos;accueil</a></p>
    </div>
</section>
