{{!< default}}

{{#post}}
<section class="py-10 pt-20">
	<div class="container m-auto px-4 lg:px-0">
        <h1 class="font-bold text-3xl mb-4">{{title}}</h1>
        <div id="content">{{content}}</div>
	</div>
</section>
{{/post}}
