{{!< default}}

<section class="py-10 pt-20">
    <div class="container m-auto px-4 lg:px-0 flex flex-wrap pt-10">
        {{#foreach posts}}
        {{> "post-card"}}
        {{/foreach}}
    </div>
</section>
